@{
    ViewBag.Title = "Home Page";
}
<h2 class ="text-dark" align="center" >Welcome to the fine city of Ankh-Morpork!</h2>
<body >
<div>
    <p class ="text-white bg-dark">Ankh-Morpork lies on the River Ankh (the most polluted waterway on the Discworld and reputedly solid enough to walk on), 
        where the fertile loam of the Sto Plains meets the Circle Sea. This, naturally, puts it in an excellent trading position.
        The central city divides more or less into Ankh (the posh part) and Morpork (the humble part, which includes the slum area known as 'the Shades'), which are separated by the River Ankh.
        It can be dangerous to walk the streets. So watch out!<br/>
        You gets 100 AM$ on balance.<br/>
        Than randomly you will meet one of the four guilds: Assassins, Thieves, Fools and Beggars.<br/>
        Player can select an action between 2 options (play or skip) depending on the guild type.<br/>
        Game is over if the Player got killed, chased to death by the beggar or out of money.</p>
</div>
<div align="center" class ="d-grid gap-2" >
    @Html.ActionLink("Let`s Gooo!", "RandomNpc","Game", new{@class= "btn btn-secondary btn-lg" })
</div>
</body>
