
@{
    ViewBag.Title = "NextStep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div .my-align{
        text-align: center
    }
</style>

<div class="my-align">
    <h1 class="bg-success">Nice!</h1>
    <p class="fs-3 bg-light">What Do you want?</p>
    @Html.ActionLink("Next Step!", "RandomNpc", "Game", new { @class = "btn btn-secondary btn-lg" })
    @Html.ActionLink("Go to Bar", "Bar", "Game", new { @class = "btn btn-secondary btn-lg" })
</div>


