@model Ankh_Morpork_webapp_MVC.ViewModels.MessageViewModel
@{
    ViewBag.Title = "AssassinsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-8 align-items-md-center">  
            <img src="~/Content/Images/Assassins/@(Model.ImageUrl)" class="img-thumbnail align-items-md-center"/>
        </div>
        <div class="col-4">
            @Html.Partial("_InfoView",new ViewDataDictionary(ViewData){{"Money", Model.Money}, {"Beers",Model.Beers}})
            <p class="bg-dark text-white fs-2">
                @Model.Message
            </p>
            @Html.ActionLink("Skip", "Skip", "Assassins", new {@class = "btn btn-secondary btn-lg"})
            @Html.ActionLink("Sign a contract!", "Contract", "Assassins", new {@class = "btn btn-secondary btn-lg"})
        </div>
    </div>
</div>