@model Ankh_Morpork_webapp_MVC.Models.Player
@{
    ViewBag.Title = "Contract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Contract</h2>
@using (Html.BeginForm("Contract", "Assassins"))
{
    <div class="form-check" align="center">
        <div class="col-auto">
            <label class="col-form-label fs-4">Reward</label>
        </div>
        @Html.TextBoxFor(player => player.Choice)
    </div>
}